body{
	background: #EFFBFB;
}

#menu{
	background: white;
	margin: 200px 200px 200px 200px;
	border: 2px solid #D8D8D8;

}

#rodape{

	width: 100%;
	height: 70px;
	background: #2E2E2E;
	position: fixed;
	bottom: 0;

}

#nav{
	width: 100%;
	height: 90px;
	background-image: linear-gradient(#CBF4C8, #C8ECEC, #EFFBFB);
	top:0;
	position: fixed;
}


.agendamento{
	color:#2E9AFE;
	position: relative;
	text-align: center;
	margin:50px;
}