/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}


body{
	font-size: 16px;
	background: #F6CECE;

}

#area{
	font-size: 20px;
	background: #F799A3;
	border:solid red 2px;
	height: 50px;
}

#total{
	width: 720px;
	margin:0px auto;

}

#menu{
	color:#060606;
	float:right;
	padding:10px 15px 10px 15px;

}

#escrita{
	width: 240px;
	height: 250px;
	margin: 50px 4px 50px 4px;
	border-right: 2px solid #F8DEDE;
	border-top: 2px solid #F8DEDE;
	border-bottom: 2px solid #F8DEDE;
	position: absolute;
	float: right;
	padding: 100px 10px 100px 10px;
}

#logo{
	float:left;
}

.vermelho{
	color:#DA182F;
}


#conteudo{
	width: 720px;
	height: 800px;
	margin: 55px auto 10px auto;

}


#postagem {
	background: #F8DEDE;
	padding: 10px;
	margin-bottom: 10px;

}

.img{
	padding: 4px 5px 8px 4px;
	float:left;

}
#login{
	background: #F1AEBA;
	border: 2px solid #F29696;
	width: 180px;
	height: 200x;
	position: relative;
	padding: 8px 8px 8px 8px;
	float: right;
}

#cadastro{
	background: #F1AEBA;
	border: 2px solid #F29696;
	width: 300px;
	height: 500px;
	position: absolute;
	float:left;;
	margin: -103px -530px;

}

.login{
	color:#0B0B0B;
	background:#CE98EA;
}
#fixo{
	position: fixed;
	background: #EF8787;
	height: 225px;
	width: 250px;
	float: left;
	margin: 20px auto 20px auto;
	background: url(imagem/branco.jpg) 

}

#fixo h2{
	background: rgb(255,255,255,0.5);

}

a {
	text-decoration: none;
	padding: 5px 10px;
}

a:link {
	color:#570E0C;
}


a:hover {
	background: #DA182F;
	color:#050505;
}



a:active {
	color: #535353;
}

/* Animação */


@keyframes animacao{
	from{background: #F799A3;}
	to {background:#ED65EE ;}
}

#animacao{
	width: 500px;
	height:250px;
	margin: 50px auto;
	background:#F799A3;
	animation-name: animacao;
	animation-duration: 10s;
	animation-delay: 0s;
	animation-iteration-count: 5
	animation-direction: alternate;
	box-shadow: 4px 4px 35px 4px black;

}

#imagem: img{
	
}
3
#aviso{
	text-shadow: 2px 2px 5px black;
}

/*transição*/


ul{
	position: relative;
	margin: 50px 0 0 50px;
	padding: 0px;
}

ul li{
	float:left;
	width: 250px;
	height: 150px;
	overflow: hidden;
	margin-right: 20px;

}

ul li:last-child {
    margin: 0;
}

ul li img:first-child {
    float: left;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    /* filter: greyscale(1.0); */
}

ul li:hover img:first-child {
    margin: -150px 0 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}