#box{
	width: 300px;
	height: 300px;
	background: #b9c941;
	border-radius: 20px;
	box-sizing: border-box;
	background: url("../img/camera.png")

	/*
	-moz-border-radius:20px;
	-webkit-border-radius: 20px;*/
}

#box h1{
	background: rgba(255,255,255,0.5);
}

#novo{
	width: 300px;
	height: 300px;
	background: radial-gradient(red, blue,red);
}


#box2{
	background: #009670;
	width: 400px;
	height: 400px;
	margin: 50px auto;
	padding: 8px;
	box-shadow: 10px 4px 10px 20px #009690, -10px -10px 10px 20px black;
}

#h1{
	color:white;
	font-size: 60px;
	text-shadow: 5px 5px 20px black;


}
/*******************************
Animações*/
@keyframes animacao-box{
	from{background: red; border-radius: 0px;}
	to {background: yellow; border-radius: 300px;}

}


#box-animacao{
	width: 300px;
	height:300px;
	background:red;
	animation-name: animacao-box;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

/**************************************
Transição */

#box-transicao{
	width: 300px;
	height: 300px;
	background: orange;
}

#box-transicao:hover {
	width: 400px;
	background: black;
	transition: all 5s;
}